<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recepcionista</title>
</head>
<body>
    <form action="/recepcionista/novoRecepcionista" method="post">
        CPF: <input name="cpf" type="text">
        <br>
        Nome: <input name="nome" type="text">
        <br>
        Email: <input name="email" type="email">
        <br>
        Telefone: <input name="telefone" type="text">
        <br>

        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>